<div class="item-detail row">

    <div class="columns large-11">
        <h4>Assigned Files</h4>

        <!-- directive: masonary-grid -->
        <div masonry-grid grid-name="item-files" mode="toggle" load-speed="10" class="masonry-grid">

            <section class="[[ masonryGridName ]]">

                <div class="masonry-grid-container">
                    <div class="grid-item [[ item.id ]]" ng-class="{active: item.active}" ng-repeat="item in gridItems" ng-click="selectItem(item.id, $event)">

                        <div class="overlay">
                            <button class="view-image-button secondary icon-maximize only-icon" ng-click="viewImage(item.id, $event)"></button>
                            <h2 class="grid-item-title">[[ item.title ]]</h2>
                            <h2 class="grid-item-title active-title">Active</h2>
                        </div>
                        <div class="item"><img ng-src="[[ item.url ]]"></div>

                    </div>
                </div>

                <div class="row">
                    <div class="columns large-24">
                        <!-- directive: progress bar -->
                        <div progress-bar active="state.loading" mode="saving" size="24"></div>
                    </div>
                </div>

            </section>

        </div>

        <h4>All User Files</h4>
        <!-- directive: user-files -->
        <div user-files active-files="itemDetail.activeUserFiles"></div>
    </div>

    <div class="columns large-12 end">

        <!-- directive: item form -->
        <div item-form="itemForm" edit-item="itemDetail.itemID"></div>

        <!-- directive: progress bar -->
        <div progress-bar active="state.saving" mode="saving" size="24"></div>

        <ul class="add-item-buttons button-group radius">
          <li><button class="success icon-screenshot" ng-click="showImagePanel()">Insert Screenshot</button></li>
          <li><button class="alert icon-ok" ng-click="saveItem()" ng-disabled="state.saving">Save</button></li>
        </ul>

    </div>
</div>

<!-- directive: paste-capture -->
<div paste-capture active="state.imageEditorActive"></div>

<!-- directive: image-editor -->
<div image-editor image-source="imageEditor.uploadedImage" mode="fullscreen" save-mode="base64" min-width="0" min-height="0" aspect-x="0" aspect-y="0"></div>
