<div class="user-files">

    <div class="row">
        <div class="columns large-24">

            <ul class="button-group seperate">
                <li><button class="secondary small icon-chevron-left left-icon" ng-click="previousPage()" ng-disabled="state.loading">Previous Page</button></li>
                <li><button class="secondary small icon-chevron-right right-icon" ng-click="nextPage()" ng-disabled="state.loading">Next Page</button></li>
            </ul>

            <!-- directive: progress bar -->
            <div progress-bar active="state.loading" mode="loading" size="24"></div>

        </div>
    </div>

    <div class="row">
        <div class="columns large-24">

            <!-- directive: masonary-grid -->
            <div masonry-grid="user-files" mode="toggle" class="masonry-grid"></div>

        </div>
    </div>

</div>
