/* -----------------------------------------
   VARIABLES
----------------------------------------- */
@import 'variables';

/* -----------------------------------------
   REQUIRED
----------------------------------------- */

// frameworks
@import 'vendor/bourbon/bourbon';

// foundation settings
@import 'vendor/foundation/foundation/settings';
@import 'vendor/foundation/foundation/components/global';

// mixins
@import 'mixins/mixins';

/* -----------------------------------------
   APP
----------------------------------------- */
// directives
@import 'directives/image_editor';
@import 'directives/user_files';
@import 'directives/user_items';
@import 'directives/vertical_tags';
@import 'directives/tag_select';
@import 'directives/auto_complete';
@import 'directives/text_editor';
@import 'directives/image_grid';
@import 'directives/image_viewer';
@import 'directives/progress_bar';
@import 'directives/item_form';
@import 'directives/masonry_grid';

// controllers
@import 'controllers/add_item';


/* -----------------------------------------
   HEADER
----------------------------------------- */
.site-title {
    display: block;
    background: transparent url(/static/src/images/logo.png) no-repeat;
    background-position: 0 0;
    background-size: contain;
    opacity: 1.0;
    text-indent: -9999px;
    width: auto;
    max-height: 240px;
    height: 60px;
}